node_modules
.pnpm-store
.idea

.DS_Store
dist
tests/coverage
test-results

# Log files
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.lock
!Cargo.lock
*.local

# Rust build output
target
src-tauri/gen/schemas
